<footer class=" page-footer font-small mt-5" id="contact">
    <hr class="bg-secondary border-2 border-top border-secondary">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <div class="row mt-3">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h5 class="text-uppercase font-weight-bold">Contacts</h5>
                <hr>
                <p>Seattle, Washington</p>
                <p>wsdream@app.com</p>
                <p>+3444444444</p>
                <p>+3555555555</p>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="container mt-5">
        <div class="small text-center text-muted">Copyright &copy; 2022 - WSDream</div>
    </div>
</footer>
