<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <title th:text="#{text.admin.panel}"></title>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md py-3" aria-label="header">
    <div class="container"><a class="navbar-brand d-flex align-items-center" th:href="@{/home}">
        <span th:text="#{text.brand}"></span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-col-2"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="nav-col-2" class="collapse navbar-collapse">
            <div class="btn-group col-md-5 w-auto ms-auto" role="group" aria-label="Button group with nested dropdown">
                <div class="col-md-15 text-center" style="margin: 10px">
                    <h6 th:text="#{text.greetings} "> ${session.user.firstName} ${session.user.lastName}</h6>
                </div>
                <div class="col-md-15 text-end">
                    <a href="controller?command=logout" style="text-decoration:none;">
                        <button type="button" class="btn btn-outline-warning" th:text="#{text.logout}"></button>
                    </a>
                </div>
                <div class="btn-group btn-group-sm" role="group" style="margin-left: 5px">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false" th:utext="#{logo.globe}">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item"
                               th:href="@{''(lang=ua)}">UA</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{''(lang=en)}">ENG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<hr class="bg-secondary border-2 border-top border-secondary">
<div class="container py-4 py-xl-5">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:text="#{text.receipts}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/dishes}" th:text="#{text.dishes}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users}" th:text="#{text.users}"></a>
        </li>
    </ul>
    <hr class="bg-secondary border-2 border-top border-secondary">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{text.date.created}"></th>
            <th scope="col" th:text="#{text.total.price}"></th>
            <th scope="col" th:text="#{text.status}"></th>
            <th scope="col" th:text="#{text.user}">ID</th>
            <th scope="col" th:text="#{text.contacts}">ID</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receipt: ${receipts}">
            <td th:text="${receipt.id}"/>
            <td th:text="${#temporals.format(receipt.dateCreated, 'yyyy-MM-dd HH:mm')}"/>
            <td th:text="${receipt.totalPrice}"/>
            <td th:switch="${receipt.status.name()}">
                <span th:case="'NEW'" th:text="#{text.new}"></span>
                <span th:case="'COOKING'" th:text="#{text.cooking}"></span>
                <span th:case="'DELIVERY'" th:text="#{text.delivery}"></span>
                <span th:case="'COMPLETED'" th:text="#{text.completed}"></span>
            </td>
            <td th:text="${receipt.contacts.id}"/>
            <td th:text="${receipt.customer.id}"/>
            <td style="text-align: right">
                <button type="button" class="btn btn-outline-secondary"
                        onclick="window.location='controller?command=receipt_details&receiptId=${receipt.id}'"
                        th:text="#{text.details}">
                </button>
                <button type="button" class="btn btn-outline-warning"
                        onclick="window.location='controller?command=update_receipt_status&receiptId=${receipt.id}&page=${param.page}'"
                        th:text="#{text.edit}">
                </button>
                <button type="button" class="btn btn-outline-danger"
                        onclick="window.location='controller?command=remove_receipt&receiptId=${receipt.id}'"
                        th:text="#{text.remove}">
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <c:if test="${param.page-1 >= 1}">
                <li class="page-item"><a class="page-link"
                                         href="controller?command=${param.command}&page=${param.page-1}"
                                         th:text="#{text.previous}"></a>
                </li>
            </c:if>

            <c:forEach var="page" items="${requestScope.pages}">

                <li class="page-item"><a class="page-link"
                                         href="controller?command=${param.command}&page=${page}">${page}</a>
                </li>

            </c:forEach>
            <c:set var="size" scope="page" value="${requestScope.pages}"/>

            <c:if test="${param.page+1 <= size.size()}">
                <li class="page-item"><a class="page-link"
                                         href="controller?command=${param.command}&page=${param.page+1}"
                                         th:text="#{text.next}"></a>
                </li>
            </c:if>
        </ul>
    </nav>
</div>
</body>
</html>