<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Error page</title>
</head>

<body>
<div class="container w-100 h-100" style="width: 100%;height: 100%;">
    <div class="col">
        <div class="row">
            <div class="col" style="text-align: center;">
                <img class="img-fluid" th:src="@{../static/images/error.png}" src="../static/images/error.png" alt="error image"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;"><fmt:message key="text.error.text"/><br/><fmt:message
                        key="text.error.me"/>
                </h1>
                <h3 style="text-align: center;"><a class="text-muted" href="controller?command?=home"
                                                   style="color: #008000;"><fmt:message key="text.home"/></a></h3>
                <p class="lead shadow-none"
                   style="text-align: center;font-size: 15px;margin: 54px;">
                    Something went terribly wrong...<br/>
                    Request from ${pageContext.errorData.requestURI} is failed <br/>
                    Status code: ${pageContext.errorData.statusCode} <br/>
                    Exception Message: ${pageContext.exception.message} <br/>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
