<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>

    <title th:text="#{text.menu}"></title>

</head>

<body>
<nav class="navbar navbar-light navbar-expand-md py-3" aria-label="header">
    <div class="container"><a class="navbar-brand d-flex align-items-center" th:href="@{/home}">
        <span th:text="#{text.brand}"></span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-col-2"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="nav-col-2" class="collapse navbar-collapse">
            <div class="btn-group col-md-5 w-auto ms-auto" role="group" aria-label="Button group with nested dropdown">
                <div class="col-md-15 text-center" style="margin: 10px">
                    <h6 th:text="#{text.greetings}">
                        ${sessionScope.user.firstName} ${sessionScope.user.lastName}
                    </h6>
                </div>
                <div class="col-md-15 text-end" style="margin-right: 10px">
                    <a href="controller?command=checkout_form" style="text-decoration:none;">
                        <button type="button" class="btn btn-outline-secondary" th:utext="#{logo.cart}">
                            ${session.cart.size()}
                        </button>
                    </a>
                </div>
                <div class="col-md-15 text-end">
                    <a href="controller?command=logout" style="text-decoration:none;">
                        <button type="button" class="btn btn-outline-warning" th:text="#{text.logout}"></button>
                    </a>
                </div>
                <div class="btn-group btn-group-sm" role="group" style="margin-left: 5px">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false" th:utext="#{logo.globe}">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item"
                               th:href="@{''(lang=ua)}">UA</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{''(lang=en)}">ENG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<hr class="bg-secondary border-2 border-top border-secondary">
<div class="container py-1 py-xl-2 mx-auto text-center">
    <div class="container justify-content-center">
        <div class="dropdown">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButtonSort"
                        data-bs-toggle="dropdown" aria-expanded="false" th:text="#{text.sort}">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                    <li><a class="dropdown-item" href="controller?command=sorted_by_price" th:text="#{text.by.price}">
                    </a></li>
                    <li><a class="dropdown-item" href="controller?command=sorted_by_title" th:text="#{text.by.title}">
                    </a></li>
                    <li><a class="dropdown-item" href="controller?command=sorted_by_category"
                           th:text="#{text.by.category}">
                    </a></li>
                </ul>
            </div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                        id="dropdownMenuButtonFilter"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        th:text="#{text.filter.by.category}">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonFilter">
                    <li><a class="dropdown-item" href="controller?command=filtered_dishes&category=salad"
                           th:text="#{text.salad}"></a></li>
                    <li><a class="dropdown-item" href="controller?command=filtered_dishes&category=pizza"
                           th:text="#{text.pizza}"></a></li>
                    <li><a class="dropdown-item" href="controller?command=filtered_dishes&category=appetizer"
                           th:text="#{text.appetizer}"></a></li>
                    <li><a class="dropdown-item" href="controller?command=filtered_dishes&category=drink"
                           th:text="#{text.drink}"></a></li>
                    <li><a class="dropdown-item" href="controller?command=menu" th:text="#{text.menu}"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{text.title}"></th>
            <th scope="col" th:text="#{text.description}"></th>
            <th scope="col" th:text="#{text.price}"></th>
            <th scope="col" th:text="#{text.weight}"></th>
            <th scope="col" th:text="#{text.cooking.time}"></th>
            <th scope="col" th:text="#{text.category}"></th>
            <th scope="col" th:text="#{text.quantity}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish: ${dishes}">
            <td th:text="${dish.id}"/>
            <td th:text="${dish.title}"/>
            <td th:text="${dish.description}"/>
            <td th:text="${dish.price}"/>
            <td th:text="${dish.weight}"/>
            <td th:text="${dish.cooking}"/>
            <td th:switch="${dish.category.name()}">
                <span th:case="'SALAD'" th:text="#{text.salad}"></span>
                <span th:case="'PIZZA'" th:text="#{text.pizza}"></span>
                <span th:case="'APPETIZER'" th:text="#{text.appetizer}"></span>
                <span th:case="'DRINK'" th:text="#{text.drink}"></span>
            </td>
            <td>
                <form class="text-center" action="controller" method="post">
                    <input hidden name="command" value="add_to_cart"/>
                    <input hidden name="dishId" value="${dish.id}"/>
                    <input hidden name="cart" value="${sessionScope.cart}">
                    <div class="input-group mb-3">
                        <input class="form-control" type="number" id="count" name="count"
                               min="1" max="5" placeholder="0">
                        <button type="submit" class="btn btn-success" th:text="#{text.add.to.cart}"></button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            <c:if test="${param.page-1 >= 1}">
                <li class="page-item"><a class="page-link"
                                         href="controller?command=${param.command}&page=${param.page-1}"
                                         th:text="#{text.previous}"></a>
                </li>
            </c:if>

            <c:forEach var="page" items="${requestScope.pages}">

                <li class="page-item"><a class="page-link"
                                         href="controller?command=${param.command}&page=${page}">${page}</a>
                </li>

            </c:forEach>
            <c:set var="size" scope="page" value="${requestScope.pages}"/>

            <c:if test="${param.page+1 <= size.size()}">
                <li class="page-item"><a class="page-link"
                                         href="controller?command=${param.command}&page=${param.page+1}"
                                         th:text="#{text.next}"></a>
                </li>
            </c:if>
        </ul>
    </nav>
</div>
</body>
</html>